[user]
	name = Siming Feng
	email = sfeng@roblox.com
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true
[maintenance]
	repo = /Users/sfeng/git/roblox/deployment
[credential "https://github.com"]
	helper = 
	username = simingf
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	username = simingf
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://github.rbx.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
	username = sfeng
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[color]
	ui = auto
[color "diff"]
	meta = "#908caa"
	frag = "#ceacf6"
	old = "#eb6f92"
	new = "#9ccfd8"
	commit = "#f6c177"
	whitespace = "#eb6f92 reverse"
[color "status"]
	header = "#908caa"
	added = "#9ccfd8"
	changed = "#f6c177"
	untracked = "#6e6a86"
	branch = "#ceacf6"
[color "branch"]
	current = "#ceacf6"
	local = "#e0def4"
	remote = "#9ccfd8"
[color "decorate"]
	branch = "#ceacf6"
	remoteBranch = "#9ccfd8"
	tag = "#f6c177"
	HEAD = "#ceacf6"
