[user]
	name = Siming Feng
	email = sfeng@roblox.com
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true
[maintenance]
	repo = /Users/sfeng/git/roblox/deployment
[credential "https://github.com"]
	helper = 
	username = simingf
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	username = simingf
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://github.rbx.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
	username = sfeng
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
