<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>user.workflow.18DC9D93-3126-4478-BB91-985AED60D296.4397E2C7-6C13-4328-B17B-23B4F5F6B524</string>
		<string>user.workflow.D86D634E-1EE1-4087-AD91-3737410A329A.4397E2C7-6C13-4328-B17B-23B4F5F6B524</string>
	</array>
</dict>
</plist>
